@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

body {
  background: linear-gradient(
    90deg,
    rgba(86, 255, 0, 1) 15%,
    rgba(29, 253, 175, 1) 50%,
    rgba(71, 199, 116, 1) 85%
  );
  padding-bottom: 2rem;
}

.tasks-wrapper {
  background-image: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%);
  width: 50%;
  min-width: 360px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.task {
  background-image: linear-gradient(270deg, #b0adae 0%, #b5fffc 100%);
  border-radius: 1rem;
}

.done {
  border-left: 1rem solid green;
}

.done h4,
.done small {
  text-decoration: line-through;
}
